*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/codeStyles/codeStyleConfig\.xml

\.idea/codeStyles/Project\.xml

\.idea/dictionaries/eudycontreras\.xml

\.idea/encodings\.xml

\.idea/gradle\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/runConfigurations\.xml

\.idea/vcs\.xml

app/proguard-rules\.pro

gradle/wrapper/gradle-wrapper\.jar

gradle/wrapper/gradle-wrapper\.properties

gradlew

gradlew\.bat
